name: Homebrew Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
  schedule:
    - cron: "0 0 1 * *"

jobs:
  Test-Bot:
    runs-on: macOS-Latest

    steps:
      - name: Setup Homebrew
        id: setup-homebrew
        uses: Homebrew/actions/setup-homebrew@master
        with:
          test-bot: false

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.setup-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.setup-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems

      - name: Cask Readall
        run: brew readall --verbose "$GITHUB_REPOSITORY"

      - name: Cask Style
        run: brew style --debug --cask "$GITHUB_REPOSITORY"

      - name: Cask Audit
        run: brew audit --debug --strict --cask --tap="$GITHUB_REPOSITORY"

      - name: Cask Install
        run: |
          for cask in $(brew search "${GITHUB_REPOSITORY/homebrew-/}"); do
            brew install --cask --verbose "$cask"
          done
